<%= render 'swiper' %>
<div class="mt-5">
  <%= form_with url: result_path do |f| %>
    <div class="form-group text-center">
      <label class="btn">
        <% if request.smart_phone? %>
          <%= f.file_field :upload_image, onchange: 'previewImage()', accept: 'image/*', capture: 'camera', class: 'form-control' %>1．写真を撮影する
        <% else %>
          <%= f.file_field :upload_image, onchange: 'previewImage()', accept: 'image/*', class: 'form-control' %>1．写真を選択する
        <% end %>
      </label>
    </div>
    <div class="form-group text-center">
      <%= f.submit '2．確認する', class: 'btn mt-3' %>
    </div>
    <div class="text-center">
      <%= image_tag '', id: 'preview', class: 'profile-image mt-3', width: '300' %>
    </div>
  <% end %>
  <div class="text-center fs-6">
    <p>アップした写真は保存されません<br />
    ご安心ください</p>
  </div>
</div>

<%= javascript_pack_tag "swiper" %>

<script>
  function previewImage() {
  const target = this.event.target;
  const file = target.files[0];
  const reader  = new FileReader();
  reader.onloadend = function () {
      const preview = document.querySelector("#preview")
      if(preview) {
        preview.src = reader.result;
      }
    }
    if (file) {
        reader.readAsDataURL(file);
    }
  }
</script>
