<% content_for(:title, '呪物の追加') %>
<h1>呪物の追加</h1>
<%= form_with model: [:admin, @cursed_item] do |f| %>
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :youtube_id, class: 'form-label' %>
    <%= f.text_field :youtube_id, class: 'form-control' %>
    <%= fields_for @cursed_item.cursed_item_objective_names do |ff| %>
      <div>
        <%= ff.label :object_name %>
      </div>
      <div>
        <%= ff.collection_select :name, ObjectName.all, :id, :name, include_blank: true %>
        <%= ff.collection_select :name, ObjectName.all, :id, :name, include_blank: true %>
        <%= ff.collection_select :name, ObjectName.all, :id, :name, include_blank: true %>
      </div>
    <% end %>
    <%= f.submit '追加', class: 'btn btn-primary mt-3' %>
<% end %>
